[submodule "PiServer"]
	path = PiServer
	url = https://github.com/SommarRobotHund2022/PiServer.git
[submodule "AutoPi"]
	path = AutoPi
	url = https://github.com/SommarRobotHund2022/AutoPi.git
[submodule "Serial-Daemon"]
	path = Serial-Daemon
	url = https://github.com/SommarRobotHund2022/Serial-Daemon.git
